@mixin basic-settings {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

@mixin button {
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  border: none;
  color: white;
  padding: 1rem 1.2rem;
  font-size: 1rem;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
}

@mixin button-hover {
  opacity: 0.8;
  transition-duration: 300ms;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
